$color-foreground: #fff;
$color-foreground-darker: rgba(255,255,255,.6);
$color-foreground-darkest: rgba(246,246,247,.3);
$color-background: #36393e;
$color-background-lighter: lighten($color-background, 3);
$color-background-lightest: lighten($color-background, 10);
$color-background-darker: #2f3136;
$color-background-darkest: #1e2124;
$color-brand: #7289da;
$color-danger: #da5866;
$color-border: rgba(255,255,255,.1);
$radius-unit: 4px;
$transition-unit: 0.2s ease;
$spacing-unit: 15px;

/* Material Icons : https://material.io/icons */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  .button & {
    display: block;
  }
}

/* Form */

%form-init {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: $color-foreground-darkest;
  font-size: 14px;
  line-height: 1;
  vertical-align: top;
  outline: 0;
}

.input {
  @extend %form-init;
  padding: 0 $spacing-unit;
  width: 100%;
  height: 34px;
  border-radius: $radius-unit;
  background-color: $color-background-lighter;
  color: $color-foreground-darker;
  transition:
          width $transition-unit,
          color $transition-unit,
          background-color $transition-unit;
  &:focus {
    background-color: $color-background-lightest;
    color: $color-foreground;
  }
}
::-webkit-input-placeholder {
  color: $color-foreground-darkest;
}
::-moz-placeholder {
  color: $color-foreground-darkest;
}
:-ms-input-placeholder {
  color: $color-foreground-darkest;
}

.button {
  @extend %form-init;
  transition:
          color $transition-unit,
          background-color $transition-unit;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $color-foreground;
  }
}

.button-default,
.button-primary,
.button-warning,
.button-danger {
  @extend .input;
  width: auto;
  .material-icons {
    display: inline-block;
    margin-left: -2px;
    font-size: 14px;
    vertical-align: top;
  }
}
.button-primary {
  background-color: $color-brand;
  &:focus {
    background-color: lighten($color-brand, 5);
  }
}
.button-danger {
  background-color: $color-danger;
  &:focus {
    background-color: lighten($color-danger, 5);
  }
}

.button-wrap {
  .button ~ .button {
    margin-left: 4px;
  }
}

.button-group {
  overflow: hidden;
  border-radius: $radius-unit;
  .button {
    display: block;
    width: 100%;
    border-radius: 0;
  }
}

.button-group-half {
  .button {
    float: left;
    width: 50%;
  }
}

.textarea {
  @extend .input;
  padding: 10px $spacing-unit;
  height: auto;
  resize: none;
  line-height: 1.4;
}

.label {
  display: block;
}

.form {
  overflow: hidden;
  border-radius: $radius-unit;
  .input,
  .text-area,
  .button,
  .button-group {
    border-radius: 0;
  }
}

/* Grid */

.row {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.col {
  float: left;
}

/* Layout */

html {
  background-color: $color-background-darkest;
  color: $color-foreground-darkest;
  font-size: 14px;
  line-height: 1;
}

a {
  color: $color-foreground-darkest;
  text-decoration: none;
  transition: color $transition-unit;
  &:hover {
    color: $color-foreground;
  }
}

.app {
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px;
}

.app-header {
  padding: $spacing-unit;
  background-color: $color-brand;
  color: $color-foreground;
  font-size: 16px;
  .title {
    margin-right: 10px;
    font-weight: bold;
  }
  .description {
    color: $color-foreground-darker;
  }
}

.app-nav {
  padding: $spacing-unit*2 $spacing-unit*2 0;
  background-color: $color-background-darker;
  .button {
    margin: 5px 0 5px 10px;
  }
  .search {
    position: relative;
    display: inline-block;
  }
  .search-input {
    padding-right: 34px;
    width: 200px;
  }
  .search-label {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.app-body {
  overflow: auto;
  padding: $spacing-unit*2;
  background-color: $color-background-darker;
  .title {
    margin-bottom: $spacing-unit;
  }
}

.app-footer {
  padding: $spacing-unit*2;
  background-color: $color-background-darkest;
  text-align: center;
}

/* Items */

.items {

}

.item {
  overflow: hidden;
  border-radius: $radius-unit;
  padding: $spacing-unit;
  background-color: $color-background;
  .button-group {
    float: right;
    margin-left: $spacing-unit*2;
  }
}

.item ~ .item {
  margin-top: $spacing-unit;
}

.item-title {
  color: $color-foreground-darker;
  font-size: 16px;
  transition: color $transition-unit;
}

.item-description {
  margin-top: 10px;
  line-height: 1.4;
}

.item-tags {
  margin-top: 10px;
}

/* Tag */

.tags {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.tag {
  float: left;
  &:before {
    content: '#';
    display: inline-block;
    margin-right: 2px;
  }
}

.tag ~ .tag {
  margin-left: 6px;
}

/* Register */

.register {
  display: none;
  margin: 0 0 $spacing-unit*2;
  &.active {
    display: block;
  }
}

/* Tag Form */

.tag-form {
}

.tag-selected {
  overflow: hidden;
  background-color: $color-background;
}

.tag-input-wrap {
  display: block;
}

.tag-item ~ .tag-input-wrap {
  margin-top: 8px;
}

.tag-item {
  @extend .input;
  display: inline-block;
  padding: 8px 5px 6px 10px;
  margin: 8px 0 0 8px;
  width: auto;
  height: auto;
  font-size: 13px;
}

.tag-item-remove {
  padding: 4px 5px;
  margin-left: 2px;
}